.HEADER{
    background-color: white;
  }
  
  .HEADER .top{
      display: flex;
      padding-top: 15px;
      justify-content: space-between;
      width: 70%;
      margin: 0 auto;
  }
  
  
  .HEADER .navigation{ 
      width: 460px;
  }
  
  .navigation nav ul{
      display: flex;
      justify-content: space-between;
      list-style-type: none;
  }

  nav ul .red{
    color: red;
  }
  
  .HEADER .top .logo{
      margin-left: 0px;
      width: 38px;
      height: 34px;
  }

  .search-box .material-icons{
    padding-top: 4px;
  }
  
  .HEADER  .search-box{
      height: 37px;
      font-size: 13px;
      border: 1px solid;
      padding-bottom: 10px;
      border-radius: 20px;
      padding-left: 10px;
      border-color: gray;
      margin-bottom: 27px;
  }

  .HEADER .search-box input{
    height: 23px;
    outline: none;
    border-color: gray;
    border-radius: 10px;
    font-size: 12px;
    padding-top: 10px;
  }

  input::placeholder{
    font-size: 14px;
    color: black;
  }

  .HEADER .profile-pic img{
    border-radius: 25px;
    width: 50px;
    margin-bottom: 0px;
}

.HEADER .icons{
}

.icons .material-icons{
  margin: 0 10px;
}
  
  .HEADER .bottom{
      display: flex;
      width: 70%;
      margin: 0 auto;
      margin-top: 20px;
  }
  
  .HEADER .bottom nav ul{
      display: flex;
      list-style-type: none;
  }
  
  .HEADER .bottom nav ul li{
      margin-right: 40px;
      padding: 9px 13px;
  }

  .HEADER .bottom ul li:first-child{
    border-bottom: 2px solid rgb(38, 103, 187);
  }
  
 .HEADER .bottom nav ul li:hover{
    border-bottom: 2px solid rgb(31, 85, 156);
    cursor: pointer;
 }
















